
  #pot {
    bottom: 2%;
    position: absolute;
    -webkit-animation: linear infinite;
    -webkit-animation-name: run;
    -webkit-animation-duration: 10s;
  }
  @keyframes run {
    0% {
      left: -120px;
      -webkit-transform: rotateY(180deg); 
    }

    100% {
      left: 100%;    
      -webkit-transform: rotateY(180deg); 

    }
  }